<template>
  <div>
    <v-nav>
    <ul class="left">

      <li>
          <a href="#!" v-side-nav:kiri="nav"><v-icon>list</v-icon></a>
      </li>
    </ul>
        <a href="#" class="brand-logo center" slot="logo">{{ $data.app_name }}</a>
        <!-- <ul class="right">
            <li>
                <a href="#!"><v-icon>done</v-icon></a>
            </li>
        </ul> -->
        <v-side-nav id="side2" slot="side-nav"></v-side-nav>
    </v-nav>
    <v-container>
      <h2 >{{ events[event_id].title }}</h2>
      <p class="grey-text description">
        <v-icon tiny>event</v-icon> {{events[event_id].date}}
      </p>
      <p class="flow-text">{{ events[event_id].content }}</p>
      <span @click="toggleLike">
        <v-btn flat><v-icon v-if="is_liked==true">favorite</v-icon><v-icon v-else>favorite_border</v-icon> Like </v-btn>
      </span>
    </v-container>

  <global-sidenav></global-sidenav>
  </div>
</template>

<script>
export default {
  name: 'show-event',
  components: {
    'global-sidenav': require('../../components/GlobalSidenav')
  },
  props: {
    app_name: {
      type: String
    },
    events: {
      type: Array
    }
  },
  data () {
    return {
      value: [],
      nav: {
        edge: 'left'
      },
      event_id: this.$route.params.event_id - 1,
      is_liked: false
    }
  },
  methods: {
    toggleLike: function () {
      this.is_liked = !this.is_liked
    }
  }
}
</script>
