<template>
  <div>
    <v-nav>
    <ul class="left">

      <li>
          <a href="#!" v-side-nav:kiri="nav"><v-icon>list</v-icon></a>
      </li>
    </ul>
        <a href="#" class="brand-logo center" slot="logo">EventLockr</a>
        <!-- <ul class="right">
            <li>
                <a href="#!"><v-icon>done</v-icon></a>
            </li>
        </ul> -->
        <v-side-nav id="side2" slot="side-nav"></v-side-nav>
    </v-nav>

    <full-calendar lang="en" :events="calendar_events"></full-calendar>


    <global-sidenav></global-sidenav>
  </div>
</template>

<script>
export default {
  name: 'calendar',
  components: {
    'full-calendar': require('vue-fullcalendar'),
    'global-sidenav': require('../components/GlobalSidenav')
  },
  props: {
    events: {
      type: Array
    }
  },
  data () {
    return {
      calendar_events: [
        {
          title: 'Binus Expo',
          start: '2016-12-01'
        },
        {
          title: 'Expo Week',
          start: '2016-12-01',
          end: '2016-12-07'
        },
        {
          title: 'event3',
          start: '2010-01-09T12:30:00',
          allDay: false
        }
      ]
    }
  }
}
</script>
<style scoped>
*{
  box-sizing:initial !important;
}
</style>
