<template>
  <div>
    <v-nav>
    <ul class="left">

      <li>
          <a href="#!" v-side-nav:kiri="nav"><v-icon>list</v-icon></a>
      </li>
    </ul>
        <a href="#" class="brand-logo center" slot="logo">EventLockr</a>
        <!-- <ul class="right">
            <li>
                <a href="#!"><v-icon>done</v-icon></a>
            </li>
        </ul> -->
    </v-nav>
    <v-container>
    
    <h2 class="center-align">Browse Events</h2>

    <v-card v-for="event in events" waves-effect waves-block waves-light>
      <router-link :to="'/event/'+event.id">
        <div class="card-image">
            <img :src="event.image_url">
        </div>
        <div class="card-content">
          <span class="card-title grey-text text-darken-4">{{event.title}}</span>
          <p class="grey-text description">
            <v-icon tiny>schedule</v-icon> {{event.date}}
          </p>
        </div>
      </router-link>
    </v-card>
  </v-container>
  <global-sidenav></global-sidenav>


  </div>
</template>

<script>
export default {
  name: 'home',
  components: {
    'global-sidenav': require('../components/GlobalSidenav')
  },
  props: {
    events: {
      type: Array
    }
  },
  data () {
    return {
      value: [],
      nav: {
        edge: 'left'
      }
    }
  }
}
</script>
<style>
  .card-content .description{
    font-size:1rem;
  }
</style>
