<template>
  <div>
    <v-container>
      <h1 class="center-align">Register</h1>
      <div class="input-field">
          <v-icon prefix>account_circle</v-icon>
          <v-text-input name="username" id="username" type="text"></v-text-input>
          <label for="username">Username</label>
      </div>
      <div class="input-field">
          <v-icon prefix>lock</v-icon>
          <v-text-input name="password" id="password" type="text"></v-text-input>
          <label for="password">Password</label>
      </div>
      <div class="input-field">
          <v-icon prefix>lock</v-icon>
          <v-text-input name="password_c" id="password_c" type="text"></v-text-input>
          <label for="password_c">Confirm Password</label>
      </div>
        <v-btn-link href="#/home">Sign Up</v-btn-link>
        <v-btn-link flat href="#/home">Skip</v-btn-link>
    </v-container>
  </div>
</template>

<script>
export default {
  name: 'login',
  data () {
    return {
      username: '',
      password: ''
    }
  }
}
</script>
