<template>
  <v-side-nav id="kiri">
    <ul>
      <li><div class="userView">
        <div class="background">
          <img src="http://materializecss.com/images/office.jpg">
        </div>
        <a href="#!user"><img class="circle" src="http://materializecss.com/images/yuna.jpg"></a>
        <a href="#!name"><span class="white-text name">John Doe</span></a>
        <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
      </div></li>
      <li><a href="#/home"><v-icon>home</v-icon>Home</a></li>
      <li><a href="#/calendar"><v-icon>event</v-icon>Calendar</a></li>
      <li><a href="#/"><v-icon>power_settings_new</v-icon>Login</a></li>
      <li><a href="#/register"><v-icon>power_settings_new</v-icon>Register</a></li>
    </ul>
  </v-side-nav>
</template>

<script>
export default {
  name: 'global-sidenav',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>
