<template>
  <div>
      <router-view :events="events" :app_name="app_name"></router-view>
  </div>
</template>

<script>
export default {
  name: 'app',
  data () {
    return {
      app_name: 'EventLockr',
      events: [
        {
          id: 1,
          title: 'Disco at the Party',
          content: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit amet praesentium, totam autem molestias, eos nulla repellat et soluta labore recusandae accusamus ea odit perferendis saepe in rerum a consectetur. Obcaecati numquam, quam delectus eaque tempora, voluptatibus magnam consequatur possimus molestias nesciunt excepturi voluptas, neque nemo, minus. Ducimus, libero voluptates eveniet! Ut pariatur, iste autem sit itaque doloribus consequuntur distinctio sapiente laboriosam aperiam quaerat saepe error eligendi libero officia expedita velit magnam ratione quo! Ullam molestiae optio qui ipsa ipsum quasi saepe, quibusdam perferendis minima maiores. Corporis veritatis enim ad harum maiores dolore iste magnam quae doloribus assumenda fugiat odio, excepturi sapiente! Veniam laboriosam, suscipit! Nihil, consequuntur itaque culpa nisi odit ipsam perferendis unde repellendus! Consequuntur, blanditiis placeat vel reprehenderit inventore. Vel perferendis quia adipisci natus. Voluptate vero, natus dolor incidunt enim, velit error. Facilis, accusamus non eaque quae. Libero expedita distinctio cupiditate commodi necessitatibus obcaecati? Commodi earum modi placeat deleniti molestiae iure excepturi tempore hic impedit sed, doloremque pariatur doloribus eaque est numquam iste. Possimus ex fugiat nesciunt cum consequatur quas at, sed iusto, repellendus tenetur maxime enim saepe nisi. Qui voluptate ratione, impedit veniam obcaecati aspernatur eligendi eos animi ullam libero amet, debitis hic molestias cum sapiente voluptatem, reiciendis a facilis officia minus mollitia voluptates nulla ad iure. Corrupti voluptatibus facere, eaque ex reprehenderit aperiam dicta sed perferendis dignissimos. Expedita deleniti similique eos explicabo maiores hic dolores voluptates quisquam. Atque delectus dignissimos ullam voluptatum at laudantium, distinctio maxime dolore? Voluptatum inventore sapiente iste dolorum nesciunt dolorem, voluptatem animi provident asperiores? Odio accusantium quia cum maiores quibusdam iusto, veritatis est beatae perferendis ex nulla laudantium, dolorem, quasi odit blanditiis ipsam repellat error, ullam magni labore minus excepturi fugiat. Voluptatem sed ratione, id. Quas eum quaerat cupiditate quo, molestias labore quibusdam nesciunt eveniet nostrum facilis vitae consequatur deleniti harum pariatur.',
          date: '17 November 2015',
          image_url: 'http://www.gccec.com.au/assets/About%20the%20Centre/EVENT%20Pana.jpg'
        },
        {
          id: 2,
          title: 'Beach Wars',
          content: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus sed, commodi culpa, quod nobis animi voluptatem incidunt dolorum dolor dolorem, deleniti, rerum neque! Nostrum modi voluptatum adipisci, minus, velit odit. Architecto tempore ad accusamus sint eius tenetur, ullam optio soluta ut! Quidem inventore, aliquam voluptates molestias tenetur natus fuga laudantium et ab minima sit earum ea facilis enim magni praesentium officiis a. Accusantium officiis animi doloribus ipsam voluptatum, dolore sint consequatur quae odio! Iste sint omnis explicabo sunt ad provident saepe libero illum numquam dolorum quisquam ratione esse fugit consequatur repellat iusto, doloribus asperiores assumenda, hic reiciendis distinctio? Commodi assumenda quae est rem at libero dolores nostrum quidem aperiam, tempora, iure necessitatibus, quia excepturi repudiandae corrupti placeat repellat cum neque modi alias provident cumque voluptas exercitationem voluptates. Reiciendis fuga tempora sunt fugit rerum quis ratione, saepe eos, a sed maxime, hic, eaque voluptatibus officia adipisci at. Harum optio vitae hic illo repellendus, laboriosam voluptas, quasi delectus? Ab dolorem ducimus aliquid quasi, inventore magnam iste distinctio modi sapiente nisi reprehenderit. Eveniet aliquid sit neque itaque ipsam eaque, modi illum assumenda ab dolore id autem repudiandae placeat animi, quibusdam rerum tempora odit quae. Voluptate ipsa odit porro numquam ab incidunt nisi, enim aperiam, saepe inventore, nihil repudiandae beatae blanditiis ut dolore dicta in eos, impedit? Quos mollitia, cumque fugiat totam a expedita veniam nostrum, aliquam quo sunt aspernatur aliquid ea officia velit dolor magnam quidem quia harum, facilis itaque vitae, nisi iure laborum tenetur. Voluptatem tempore nulla cum deleniti et explicabo nam excepturi doloremque eligendi fuga aliquid facilis beatae, odio unde eos sed ipsa. Velit nobis maiores saepe sequi hic tempore unde, nulla quia, dolores fuga, soluta deserunt similique eum iste asperiores iusto. Commodi similique adipisci sint dolores iusto autem saepe ipsum eaque rerum blanditiis nam provident, esse aperiam, eius sit delectus!',
          date: '17 November 2015',
          image_url: 'http://d14dsi4x2zx6ql.cloudfront.net/sites/default/files/styles/welcome_image/public/Event_Coachella_1280x642.jpg'
        },
        {
          id: 3,
          title: 'Studium Generale 2',
          content: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium id vero facilis soluta magni quam culpa eligendi sapiente sint consectetur saepe magnam eos repudiandae deserunt, at reprehenderit laborum rerum est blanditiis vel totam placeat voluptatem. Quibusdam saepe, cupiditate animi ipsa beatae. Dolores itaque accusantium veniam, non ratione aspernatur quod consectetur laborum fugiat tempore aperiam minima. Placeat ut cumque quam nam perferendis maiores voluptates, impedit, eum enim odio mollitia sequi ullam dolor, fugit nostrum, nisi porro neque a. Quae aliquam autem saepe impedit, nisi architecto id iusto illo! Aperiam, cupiditate nesciunt voluptas quasi, quaerat tempora expedita, ut esse corporis aut eum voluptate voluptates earum. Tenetur quo libero recusandae! Dolorum maiores, voluptatem! Quisquam in unde vero quibusdam eius recusandae, itaque iure molestiae, sint harum repudiandae, nostrum alias sed veniam nihil mollitia veritatis quo blanditiis beatae saepe. Fugit quod doloribus, necessitatibus sint dolorem. Tempora molestias iure facere incidunt voluptates! Adipisci libero vero, corporis reiciendis! Sed rerum, tempore debitis sapiente libero tenetur eveniet aliquid. Voluptatum culpa ex, architecto perspiciatis repudiandae tempore mollitia pariatur deserunt in quaerat cumque facilis unde voluptatibus delectus voluptatem eaque optio, nisi aspernatur debitis harum minima, vel, hic deleniti. Impedit reiciendis laborum quo eligendi! Exercitationem quis distinctio neque veritatis nihil, quia consequatur, quisquam sit et eum accusamus, eius quam! Officiis sint ad vero quos, dolorum culpa iure laboriosam ullam quas saepe autem excepturi voluptate soluta accusantium, nostrum ipsa veritatis fugit ex! Dolorem aliquam, ipsum, libero nostrum, explicabo quod amet repudiandae sint iusto fugiat quidem, voluptates enim sunt! Nostrum, minus accusamus praesentium ad accusantium autem, consequatur in neque delectus quis eos voluptatum aperiam veritatis numquam. Harum excepturi nulla minus omnis nam explicabo perferendis ullam earum voluptas, voluptates, quia officiis quas reprehenderit fugiat obcaecati sint consequatur. Provident nam quas error ullam repellat ad in, pariatur minus modi, distinctio placeat recusandae esse corporis sapiente.',
          date: '17 November 2015',
          image_url: 'http://eventbogor.com/wp-content/uploads/2016/11/events.jpg'
        }
      ]
    }
  }
}
</script>

<style>
</style>
